{% extends "home.html" %}

{% block container %}

<div class="page-header">

    <div id="main" class="container-fluid">
        <div id="top" class="row">
             <div class="col-md-3">
                  <h2>Doações</h2>
             </div>

             <div class="col-md-6">
                  <div class="input-group h2">
                       <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Artigos">
                       <span class="input-group-btn">
                           <button class="btn btn-primary" type="submit">
                              <span class="glyphicon glyphicon-search"></span>
                           </button>
                       </span>
                  </div>
             </div>

             <div class="col-md-3">
                  <a href="novo" class="btn btn-primary pull-right h2">Nova Doação</a>
             </div>
        </div> <!-- /#top -->

        <hr />

    </div>

    <div id="list" class="row">

        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="col-md-1">ID</th>
                        <th class="col-md-1">Data</th>
                        <th class="col-md-6">Doador</th>
                        <th class="col-md-2">Status</th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    {% for doacoes in object_list %}
                        <tr>

                            <td>{{ doacoes.doacao_id }}</td>
                            <td>{{ doacoes.doacao_data }}</td>
                            <td>{{ doacoes.doacao_doador }}</td>
                            <td>{{ doacoes.doacao_status }}</td>

                            <td class="actions">
                                <a class="btn btn-success btn-xs" href="mostra{{doacoes.doacao_id}}">Visualizar</a>
                                <a class="btn btn-warning btn-xs" href="edita{{doacoes.doacao_id}}">Editar</a>
                                <a class="btn btn-danger btn-xs"  href="deleta{{doacoes.doacao_id}}">Excluir</a>
                            </td>

                        </tr>
                    {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Nao ha doações cadastradas</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div> <!-- /#list -->

    <div id="bottom" class="row">
        <div class="col-md-12">

            <ul class="pagination">
                <li class="disabled"><a>&lt; Anterior</a></li>
                <li class="disabled"><a>1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
            </ul><!-- /.pagination -->

        </div>
    </div> <!-- /#bottom -->

</div>  <!-- /#main -->


{% endblock %}